@import url("./header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --laranja: #F58440;
    --laranja-claro: #fac3a1;
    --azul: #0CC1C2;
    --font-preto: #606060;
    --branco: #FFFFFF;
    --azul-claro: rgba(216, 239, 239, 2)
}

*{
    margin: 0;
    padding: 0;   
    font-family: "Poppins", sans-serif;
    font-size: 16px;
   
    
}

body{
    background-image: url("../Assets/Rectangle10.png");
    overflow-x: hidden;
}

.grid{

    margin: 0 0%;      
    display: grid;  
    grid-template-columns:1fr 10fr 1fr;    
    grid-template-areas:
    "cabecalho cabecalho cabecalho "    
    "apadrinhar apadrinhar apadrinhar"  
    "apadrinhar apadrinhar apadrinhar"  
    "depoimentos depoimentos  depoimentos"
    "depoimentos depoimentos  depoimentos"
    "rodape   rodape   rodape" 
    "rodape   rodape   rodape" ;
}



.apadrinhar{
    grid-area: apadrinhar;   
}


.titulo_apadrinhar{
font-size: 36px;
color: var(--font-preto);
text-align: center;
margin: 1em;
}


.container_card_doacao_apadrinhar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}


.card_apadrinhar{

    background-color: var(--branco);
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 1em;
	margin: 1 ;
	width: 10em;
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.card_apadrinhar h3{
text-transform: uppercase;
margin: 1em;
color: var(--laranja);
}


.container_dados_cartao{

}

.posicionamento_dados_cartao{
    display: flex;
}

.container_doacao {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .opcoes_doacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  
  .botao_doacao {
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: var(--azul);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botao_doacao:hover {
    background-color: var(--laranja);
  }
  
  .dados_doacao {
    display: flex;
    flex-direction: column;
  }
  
  .dados_doacao label {
    margin-top: 10px;
  }
  
  .dados_doacao input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #btnDoar {
    padding: 10px;
    background-color: var(--azul);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #btnDoar:hover {
    background-color: var(--laranja);
  }
  
  .erro-campos {
    margin-top: 10px;
  }
  
  .total_doacoes {
    margin-top: 50px;
    text-align: center;
  }
  
  .total_doacoes h3 {
    margin-bottom: 10px;
  }
  
  #totalArrecadado {
    font-size: 24px;
    color: var(--azul);
  }
  
  .botao_doacao.selecionado {
    background-color: #F58440;
    color: white;
}


  .footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #D8EFEF;
    padding: 20px;
  }
  
  .contatoFooter {
    padding: 15px;
    margin-top: 8px;
    font-size: 15px;
  }
  
  .contatoFooter input[type="name"],
  .contatoFooter input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .contatoFooter input[type="submit"] {
    background-color: #80cc83;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contatoFooter input[type="submit"]:hover {
    background-color: #45a049;
  }