@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --laranja: #F58440;
    --laranja-claro:#fac3a1;    
    --azul: #0CC1C2;
    --font-preto: #606060;
    --branco: #FFFFFF;
    --azul-claro:rgba(216, 239, 239,2)
  
  }
* {
    box-sizing: border-box;
    padding-top: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}



.logo {
    max-width: 450px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.card {
    max-width: 300px;
    border-radius: 3rem;
    border: 2px solid var(--laranja);
    
  }
  
  .card a {
    text-decoration: none;
    width: 50%;
    margin-left: 50px;
}

  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-image: url(../../Assets/cao-sem-dono.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .title {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--laranja);
}

  
  .description {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--laranja);
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(5px);
  }
  


.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #D8EFEF;
}